loguru~=0.7.2
kivymd~=1.2.0
peewee~=3.17.1
buildozer~=1.5.1.dev0
pexpect~=4.9.0
colorama~=0.4.6
setuptools~=69.5.1
Kivy~=2.3.0
docutils~=0.20.1
asynckivy~=0.6.2
requests~=2.31.0
materialyoucolor~=2.0.9
buildozer~=1.5.1.dev0
pexpect~=4.9.0
colorama~=0.4.6
sh~=1.14.3
Jinja2~=3.1.3
packaging~=24.0
appdirs~=1.4.4
toml~=0.10.2
build~=1.2.1
pip~=24.0
wheel~=0.41.2
pillow~=10.3.0
filelock~=3.13.3
Cython~=0.29.33
Pygments~=2.17.2
certifi~=2024.2.2
urllib3~=2.2.1
idna~=3.6

